body {
    position: relative;
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
}
#game {
    align-self: center;
    background-color: black;
    width: 700px;
    min-height: 700px;
}

#char {
    position: relative;
    height: 100px;
    width: 80px;
    bottom: -600px;
}